body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #fff;
  color: #000;
  padding: 30px 20px;
  margin: 10px 10px;
  border: 4px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  font-size: 2rem;
  margin: 0;
  padding: 0px 20px;
  text-align: center;
  flex: 1;
}

.cart {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.cart .cart-text {
  margin-left: 8px;
  margin-right: 8px;
}

.cart .cart-count {
  font-weight: bold;
}

.content {
  display: flex;
  flex: 1;
}

.accordion {
  width: 250px;
  background-color: #fff;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.accordion-item {
  padding: 10px;
  cursor: pointer;
  background-color: #dddddd;
  margin: 5px 0;
}

.accordion-item.active {
  font-weight: bold;
  color: #000;
  background-color: #e0e0e0;
}

.subcategories {
  padding-left: 20px;
}

.subcategory-item {
  cursor: pointer;
  color: #000;
  margin: 5px 0;
  padding: 10px;
}

.subcategory-item.active {
  color: red;
}

.product-list {
  flex: 1;
  padding: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.product-item {
  position: relative;
  border: 3px solid #000;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  height: 150px;
}

.product-item p {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.product-item button {
  position: absolute;
  bottom: 20px;
  right: 15px;
  padding: 8px 16px;
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.product-item button:hover {
  background-color: #f1f1f1;
}

.product-item button.added-to-cart {
  background-color: #acacac;
  color: #565656;
  cursor: not-allowed;
  border: 3px solid #ccc;
  box-shadow: none;
}

.subcategory-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.subcategory-border {
  border: 3px solid #000;
  font-size: 2rem;
  margin: 15px 15px;
  padding: 10px 20px;
  text-align: center;
  flex: 1;
}

.category-icon {
  margin-right: 10px;
}
.no-subcategories {
  padding: 10px;
  color: #888;
}
.popup-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup {
  background-color: #fff;
  padding: 40px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 450px;
  height: 100px;
  width: 90%;
}

.popup p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #333;
}

.popup-buttons {
  display: flex;
  justify-content: right;
  margin: 10px 10px;
  gap: 10px;
}

.popup-button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.popup-button:first-child {
  background-color: #007fff;
  color: #fff;
}

.popup-button:first-child:hover {
  background-color: #013d7d;
}

.popup-button:last-child {
  background-color: #dc3545;
  color: #fff;
}

.popup-button:last-child:hover {
  background-color: #8c121e;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Responsive layout for medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
